parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Pagerfanta\\\\Adapter\\\\AdapterInterface\\:\\:getAggregations\\(\\)\\.$#"
			count: 1
			path: src/Controller/SearchController.php

		-
			message: "#^Strict comparison using \\=\\=\\= between null and int will always evaluate to false\\.$#"
			count: 1
			path: src/Controller/SearchController.php

		-
			message: "#^Call to an undefined method Symfony\\\\Component\\\\Config\\\\Definition\\\\Builder\\\\NodeDefinition\\:\\:addDefaultsIfNotSet\\(\\)\\.$#"
			count: 1
			path: src/DependencyInjection/Configuration.php

		-
			message: "#^Method Setono\\\\SyliusElasticsearchPlugin\\\\Doctrine\\\\ObjectChangeListener\\:\\:getParentModel\\(\\) should return object but returns Sylius\\\\Component\\\\Attribute\\\\Model\\\\AttributeSubjectInterface\\|null\\.$#"
			count: 1
			path: src/Doctrine/ObjectChangeListener.php

		-
			message: "#^Call to an undefined method object\\:\\:isEnabled\\(\\)\\.$#"
			count: 1
			path: src/Doctrine/ObjectChangeListener.php

		-
			message: "#^Method Setono\\\\SyliusElasticsearchPlugin\\\\EventListener\\\\ProductTaxonListener\\:\\:postUpdate\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/EventListener/ProductTaxonListener.php

		-
			message: "#^Parameter \\#1 \\$object of method FOS\\\\ElasticaBundle\\\\Persister\\\\ObjectPersisterInterface\\:\\:replaceOne\\(\\) expects object, Sylius\\\\Component\\\\Core\\\\Model\\\\ProductInterface\\|null given\\.$#"
			count: 1
			path: src/EventListener/ProductTaxonListener.php

		-
			message: "#^Method Setono\\\\SyliusElasticsearchPlugin\\\\EventListener\\\\ProductVariantListener\\:\\:postUpdate\\(\\) has no return typehint specified\\.$#"
			count: 1
			path: src/EventListener/ProductVariantListener.php

		-
			message: "#^Cannot call method getVariants\\(\\) on Sylius\\\\Component\\\\Product\\\\Model\\\\ProductInterface\\|null\\.$#"
			count: 1
			path: src/EventListener/ProductVariantListener.php

		-
			message: "#^Parameter \\#1 \\$object of method FOS\\\\ElasticaBundle\\\\Persister\\\\ObjectPersisterInterface\\:\\:replaceOne\\(\\) expects object, Sylius\\\\Component\\\\Product\\\\Model\\\\ProductInterface\\|null given\\.$#"
			count: 1
			path: src/EventListener/ProductVariantListener.php

		-
			message: "#^Parameter \\#1 \\$object of method FOS\\\\ElasticaBundle\\\\Persister\\\\ObjectPersisterInterface\\:\\:deleteOne\\(\\) expects object, Sylius\\\\Component\\\\Product\\\\Model\\\\ProductInterface\\|null given\\.$#"
			count: 1
			path: src/EventListener/ProductVariantListener.php

		-
			message: "#^Cannot call method getTranslations\\(\\) on Sylius\\\\Component\\\\Attribute\\\\Model\\\\AttributeInterface\\|null\\.$#"
			count: 1
			path: src/PropertyBuilder/AttributeBuilder.php

		-
			message: "#^Cannot call method getId\\(\\) on Sylius\\\\Component\\\\Attribute\\\\Model\\\\AttributeInterface\\|null\\.$#"
			count: 1
			path: src/PropertyBuilder/AttributeBuilder.php

		-
			message: "#^Cannot call method getCode\\(\\) on Sylius\\\\Component\\\\Attribute\\\\Model\\\\AttributeInterface\\|null\\.$#"
			count: 1
			path: src/PropertyBuilder/AttributeBuilder.php

		-
			message: "#^Cannot call method getConfiguration\\(\\) on Sylius\\\\Component\\\\Attribute\\\\Model\\\\AttributeInterface\\|null\\.$#"
			count: 1
			path: src/PropertyBuilder/AttributeBuilder.php

		-
			message: "#^Foreach overwrites \\$value with its value variable\\.$#"
			count: 1
			path: src/PropertyBuilder/AttributeBuilder.php

		-
			message: "#^Construct empty\\(\\) is not allowed\\. Use more strict comparison\\.$#"
			count: 2
			path: src/PropertyBuilder/OptionBuilder.php

		-
			message: "#^Cannot call method getTranslations\\(\\) on Sylius\\\\Component\\\\Product\\\\Model\\\\ProductOptionInterface\\|null\\.$#"
			count: 1
			path: src/PropertyBuilder/OptionBuilder.php

		-
			message: "#^Cannot call method getId\\(\\) on Sylius\\\\Component\\\\Product\\\\Model\\\\ProductOptionInterface\\|null\\.$#"
			count: 1
			path: src/PropertyBuilder/OptionBuilder.php

		-
			message: "#^Cannot call method getCode\\(\\) on Sylius\\\\Component\\\\Product\\\\Model\\\\ProductOptionInterface\\|null\\.$#"
			count: 1
			path: src/PropertyBuilder/OptionBuilder.php

		-
			message: "#^Call to an undefined method Sylius\\\\Component\\\\Product\\\\Model\\\\ProductVariantInterface\\:\\:getOnHand\\(\\)\\.$#"
			count: 1
			path: src/PropertyBuilder/OptionBuilder.php

		-
			message: "#^Call to an undefined method Sylius\\\\Component\\\\Core\\\\Model\\\\ProductInterface\\:\\:getPosition\\(\\)\\.$#"
			count: 1
			path: src/PropertyBuilder/ProductPositionBuilder.php

		-
			message: "#^Cannot call method getId\\(\\) on Sylius\\\\Component\\\\Core\\\\Model\\\\TaxonInterface\\|null\\.$#"
			count: 1
			path: src/PropertyBuilder/ProductPositionBuilder.php

		-
			message: "#^Cannot call method format\\(\\) on DateTimeInterface\\|null\\.$#"
			count: 1
			path: src/PropertyBuilder/ProductPropertiesBuilder.php

		-
			message: "#^Call to an undefined method Sylius\\\\Component\\\\Core\\\\Model\\\\ProductInterface\\:\\:getPosition\\(\\)\\.$#"
			count: 1
			path: src/PropertyBuilder/ProductPropertiesBuilder.php

		-
			message: "#^Property Setono\\\\SyliusElasticsearchPlugin\\\\Repository\\\\ElasticSearchRepository\\:\\:\\$currentTaxonId \\(Sylius\\\\Component\\\\Core\\\\Model\\\\TaxonInterface\\) does not accept default value of type int\\.$#"
			count: 1
			path: src/Repository/ElasticSearchRepository.php

		-
			message: "#^Property Setono\\\\SyliusElasticsearchPlugin\\\\Repository\\\\ElasticSearchRepository\\:\\:\\$maxFilterOptions has no typehint specified\\.$#"
			count: 1
			path: src/Repository/ElasticSearchRepository.php

		-
			message: "#^Construct empty\\(\\) is not allowed\\. Use more strict comparison\\.$#"
			count: 1
			path: src/Repository/ElasticSearchRepository.php

		-
			message: "#^Only booleans are allowed in &&, mixed given on the left side\\.$#"
			count: 1
			path: src/Transformer/ProductTransformer.php

